*{
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

td{
    border: #000000 1px solid;
    width: 186px;
    text-align: center;
}

td:first-child{
    width: 20px;
}

tr{
    height: 80px;
}

#table{
    width: 72%;
    border-right: 1px solid #000;
    float: left;
    padding-left: 10px;
}

#list{
    border-left: 1px solid #000;
    margin: 10px 0 10px -1px;
    padding: 10px;
}

#buttons{
    clear: both;
    margin: 10px 0;
    padding-left: 10px;
}

input{
    margin-left: 10px;
    margin-right: 15px;
}

label{
}